; QBittorrent
[QB]
host = 192.168.0.20
port = 8088
username = admin
password = adminadmin

; Transmission
[TR]
host = 192.168.0.20
port = 8089
username = admin
password = adminadmin

; IYUU通知token
[IYUU]
token = IYUUxxxxxxxxxxxxxxxxxxxxxxxxx

; 自动删除配置
[AutoDelete]
deletePath = /download
singleSpeed = 100
groupSpeed = 200
activeTime = 2700
;是否删除未完成的项目
completed = 1

; 做种排序配置
[ListCount]
statisticDir = /download1 /download2
miniCount = 4