[QB]
host = 192.168.0.20
port = 8088
username = admin
password = adminadmin

[TR]
host = 192.168.0.20
port = 8089
username = admin
password = adminadmin
StatisticDir = /download

[IYUU]
token = IYUUxxxxxxxxxxxxxxxxxxxxxxxxx

[AutoDelete]
deletePath = /download
singleSpeed = 100
groupSpeed = 200
activeTime = 2700
